body { 
	background: #ECEFF1;
	color: rgba(0,0,0,0.87);
	font-family: Roboto, Helvetica, Arial, sans-serif;
	margin: 0;
	margin-top: 1em;
	padding: 0;
}

.width100{
	width: 100%;
}

nav{
	background-color: #fdcb6e !important;
}

.brand-logo{
	margin-left: 0.5em;
}

.fillerHeight{
	height: 7em;
}

.no-margin-bottom{
	margin-bottom: 0 !important;
}

/* Message stuff */
.theMessage{
	display: block;
}

.msg_sender_info{
	margin-top: 1em;
	display: inline-flex;
	justify-content: space-between;
}

.username_in_msg{
	text-shadow: 0.5px 0.5px 2px rgba(0,0,0,0.2);
	color: coral;
}

.username_in_msg.my_msg{
	color: #66FF66 !important;
}

.date_in_msg{

}

.order1{
	order: 1;
}

.order2{
	order: 2;
}

.msgField{
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: #6d6d6d;
	padding: 1em 0 1em 0;
	box-sizing: border-box;
}

#messageInputDiv .character-counter{
	color: white !important;
}

@media(max-width: 600px){
	body{

	}

	.row.my_msg{
		padding-left:  3em;
		box-sizing: border-box;
	}

	.row.not_my_msg{
		padding-right:  3em;
		box-sizing: border-box;
	}
}

